@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c4a4d4;
  font-family: "Poppins", sans-serif;
}

h2 {
  display: inline-block;
  color: #111;
}

.container {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.meal {
  display: flex;
  background-color: #fff;
  border-radius: 5px;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.img-container {
  flex: 1;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-details {
  flex: 2;
  padding: 30px;
  position: relative;
}

.meal-title {
  margin: 0 0 20px;
  color: #351898;
}

.meal-instruction {
  font-size: 14px;
}

.meal-info {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.meal-info li {
  margin-right: 30px;
  font-size: 14px;
  color: rgb(95, 95, 95);
}

.meal-info li strong {
  display: block;
  color: #351898;
  font-size: 18px;
}

.btn {
  background-color: orange;
  color: #fff;
  padding: 15px 25px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.meal-details .btn {
  position: absolute;
  right: -10px;
  bottom: -10px;
}
